# Ignore virtual environment directory
/env

# Ignore documentos directory
/documentos

/config/graph/querys_ejemplo.json

# Ignore environment variable files
.env

# Ignore all __pycache__ directories
__pycache__
**/__pycache__/


# Ignore notebooks directory
/src/notebooks

# Ignore finetune notebook
/src/finetune/fine_tune_notebook.ipynb
/src/finetune/training.ipynb

# Ignore tests directory
/src/tests

# Ignore secrets directory
/.secrets

# Ignore specific __pycache__ directory
/src/package/__pycache__

requirements_win.txt

AZURE_COMANDS.md
GIT_TIPS.md
EXECUTION.md

.env.local
requirements_production.txt